%h1 All Wikis
= link_to "Create A New Wiki", new_wiki_path(), class: 'btn btn-success'
- @wikis.each do |wiki|
  .media
    .media-body
      %h4.media-heading
        = link_to (markdown_to_html wiki.title), wiki
